body,
html {
	margin: 0;
	padding: 0;
}

:root {
	font-family: serif;
}

* {
	touch-action: manipulation;
}

h1 {
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 0;
}

h2 {
	font-size: 1.25rem;
	margin-top: 2rem;
	margin-bottom: 0;
}

p {
	line-height: 1.5;
}

blockquote {
	margin: 0;
	padding-left: 0.5rem;
	border-left: 2px solid currentColor;
	font-style: italic;
}

ul {
	margin: 0;
	padding: 0;
	padding-left: 1rem;
}

li {
	margin-bottom: 1rem 0;
}

pre {
	overflow-x: auto;
	tab-size: 2;
}
