@font-face {
	font-family: "Nunito";
	src: url("/font/Nunito-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Nunito";
	src: url("/font/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Fantasque Sans Mono";
	src: url("/font/FantasqueSansMono-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

:root {
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	color-scheme: light dark;

	--color-primary: blue;
	--color-text-primary: #fff;

	--color-bg: #fff;
	--color-text: #222;
	--color-border: #ccc;
	--color-shy: #9a9a9aff;
	--color-solid: #f5f5f5;

	--a-not-visited-color: var(--color-primary);
	--a-visited-color: purple;

	--octal-color: 0;
	--color-graph-edge: #d1d1d1ff;
	--color-graph-inactive: #eaeaeaff;
	--color-graph-tooltip: var(--color-border);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #181a1b;
		--color-text: #cdc5e1;
		--color-border: #726d7cff;
		--color-shy: #756d89ff;
		--color-solid: #23272e;

		--a-not-visited-color: #1b97ff;
		--a-visited-color: #e068ff;

		--octal-color: 150;
		--color-graph-edge: #605c6aff;
		--color-graph-inactive: #32363bff;
		--color-graph-tooltip: #2c2f33;
	}
}

body,
html {
	margin: 0;
	padding: 0;
	background: var(--color-bg);
	color: var(--color-text);
}

* {
	touch-action: manipulation;
}

h1 {
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 0;
	color: var(--color-text);
}

h2 {
	font-size: 1.25rem;
	margin-top: 2rem;
	margin-bottom: 0;
	color: var(--color-text);
}

p {
	line-height: 1.3;
	color: var(--color-text);
}

blockquote {
	margin: 1rem 0;
	padding-left: 0.5rem;
	border-left: 2px solid var(--color-shy);
	font-style: italic;
}

ul {
	margin: 0;
	padding: 0;
	padding-left: 1rem;
}

li {
	margin-bottom: 1rem 0;
	color: var(--color-text);
}

pre {
	overflow-x: auto;
	tab-size: 2;
}

code {
	font-family: "Fantasque Sans Mono", monospace;
	font-size: 0.9rem;
	font-variant-ligatures: none;
}

a {
	color: var(--a-not-visited-color);
}

a:visited {
	color: var(--a-visited-color);
}

table {
	border-collapse: collapse;
	margin: 1rem 0;
}

th,
td {
	border: 1px solid var(--color-border);
	padding: 0.5rem 1rem;
	text-align: left;
}

th {
	background: var(--color-solid);
}

hr {
	border: none;
	border-top: 1px solid var(--color-border);
	margin: 2rem 0;
}

:target {
	background: var(--color-primary);
	color: var(--color-text-primary);
}

:target:before {
	content: "# ";
}

select {
	font-family: "Fantasque Sans Mono", monospace;
	font-size: 0.9rem;
	padding: 0.25em;
	border: 1px solid var(--color-border);
	background: var(--color-bg);
	color: var(--color-text);
	width: auto;
	max-width: 100%;
}

input[type="text"] {
	font-family: "Fantasque Sans Mono", monospace;
	font-size: 0.9rem;
	width: 100%;
	max-width: 14rem;
	padding: 0.25em;
	border: 1px solid var(--color-border);
	background: var(--color-bg);
	box-sizing: border-box;
	color: var(--color-text);
}

input[type="text"][readonly] {
	background: transparent;
}

input,
select,
textarea {
	margin: 0.5rem 0;
}
